html, body {
    background-color: black;
    color: white;
    text-align: center;
}

div {
    padding: 1em;
    margin: 1em;
    background-color: rgb(94, 94, 251);
    color: black;
}

#box {
    font-weight: 900;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    padding: 0 -1em;
}

button {
    background-color:rgb(94, 94, 251);
    padding: 1em;
    font-weight: 700;
    border-radius: 1em;
}

button:hover {
    background-color:rgb(141, 141, 225);
    color:white;
}